* {
  background-color: wheat;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form {
  display: flex;
  flex-direction: column;
}
