* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 35px;
  margin-top: 2vw;
  margin-left: 6vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4vw;
  border: 1px solid gray;
  border-radius: 1vw;
  background-color: #e7e7e7;
}

.container > * {
  padding: 2vw;
}

.right-section {
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

#submit {
  width: 50%;
  align-self: last baseline;
}

#refresh {
  padding: 0.4vw;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 17px;
}

.scores-table {
  margin-top: 3vw;
  border: 1px solid #3b3b3b;
}

.light {
  background-color: rgb(242, 243, 243);
}

.grey {
  background-color: rgb(197, 197, 197);
}

li {
  padding: 0.3vw;
}
